html {
	overflow-y: scroll;

	font-size: 0.8em;
}

body {
	margin: 0;
	
	background-image: url("img/space.jpg");
    background-size: cover;
    background-attachment: fixed;

	font-family: "Arial", sans-serif;

	background-color: black;

	padding: 20px;
}

.pageContainer {
	max-width: 1400px;
	margin: auto;

	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	
	border-radius: 10px;

	background: #373737;
	color: #bbcccc;

	box-sizing: border-box;

	background-image: linear-gradient(to bottom, rgba(52,60,60,1) 0, rgba(26,30,30,1) 100px);
	opacity: 0.95;
}

.selectionBox {
	margin: 10px;
	padding: 10px;
	
	background: #080808;
	border-radius: 10px;
}

.selectionTitle {
	margin: 0;
	font-size: 1.8em;
	border-bottom: 1px solid #bbcccc;
	padding: 5px;
}

.selectionContainer {
	display: flex;
	flex-direction: row;
}

.filterName {
	margin: 5px;

	font-size: 1.4em;
	text-align: center;
}

.sortingName {
	margin: 5px;

	font-size: 1.4em;
	text-align: center;
}

.filterList {
	width: auto;
	margin: 10px;
	min-width: 150px;

	display: inline-flex;
	flex-direction: column;
	padding: 3px;
}

.sortingList {
	width: auto;
	margin: 10px;
	min-width: 150px;

	display: inline-flex;
	flex-direction: column;
	padding: 3px;
}

.checkboxContainer {
	margin: 1px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: start;
	vertical-align: middle;
	align-items: center;
	width: auto;
}

.radioContainer {
	margin: 1px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: start;
	vertical-align: middle;
	align-items: center;
	width: auto;
}

.statuscheckbox {
	width: 18px;
	height: 18px;
}

.radioCheckbox {
	width: 18px;
	height: 18px;
}

.inputrange {
	width: 50px;
	height: 18px;
}

.checkLabel {
	font-size: 1.2em;
	margin: 0;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.radioLabel {
	font-size: 1.2em;
	margin: 0;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#games {
	display: flex;
	flex-direction: column;
	margin: auto;

	margin-top: 10px;
}

.gameContainer {
	display: flex;
	flex-direction: row;
	
	padding: 20px;
}

.gameContainer:not(:first-of-type) {
	border-top: solid 1px #bbcccc;
}

.box1 {
	min-width: 300px;
}

a {
	color: cyan;
}

.gameItemName {
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.4em;
}

.gameItemShortDesc {
	color: white;
	margin-top: 0px;
}

.gameItemSlots {
	position: relative;

	text-decoration: underline;
}

.gameItemSlotsLong {
	width: 300px;
	background: #080808;
	color: #bbcccc;

	padding: 15px;
	border-radius: 10px;

	display: none;
	position: absolute;
}

.gameItemSlots:hover > .gameItemSlotsLong {
	display: block;
}